{% extends "lara_base.html" %}
{% load static %}
{% block title %}Substances-Overview{% endblock %}

{% block top %}
  <h1> LARA Substances Safety </h1>
  <p> </p>
{% endblock %}

{% block main_content %}
{% if substance_list %}
   <table class="report">
   <caption>{{ table_caption }}</caption>
   <thead>
       <tr>
          <th rowspan=2 > Name </th>
          <th rowspan=2 > GHS Classification </th>
          <th rowspan=2 > Hazardous Classes ( H ) </th>
          <th rowspan=2 > Location in Lab </th>
          <th rowspan=2 > Amount </th>
          <th rowspan=2 > Safety Sheet </th>
          <th rowspan=2 > Substitution possible ? </th>
       </tr>
   </thead>
   <tbody>
    {% for item in substance_list %}
       <tr>
           <td><a href="{% url 'lara_substances_store:substance-detail' item.substance_id %}" title="{{ item.name }} ({{ item.acronym }})" > {{ item.substance.name }}   </a> </td>
           <td> {{ item.hazard_symbols }} </td>
           <td> {{ item.hazard_statements }} </td>
           <td> {{ item.location.name }} </td>
           <td>
             {% if item.amount_vol > 0 %}
               {{ item.amount_vol | floatformat:3 }} L
             {% else %}
               {{ item.amount_mass | floatformat:3 }} kg
            {% endif %}
          </td>
           <td>
               <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{item.substance.PubChemID}}#datasheet=lcss&section=GHS-Classification" alt="{{ item.name }}">
                {{ item.substance.name }}
                </a>
           </td>
           <td> no </td>
       </tr>
    {% endfor %}
   </tbody>
   </table>

{% else %}
    <p>No substances are available.</p>
{% endif %}

{% endblock %}
